body{
    background: #7e7e9b;
    padding: 50px;
    color: rgb(235, 173, 173);
}
.avatar{
    border-radius: 100px;
}
.button{
    font-family: 20px;
    background-color: rgb(182, 168, 192);
    border: 2;
    width: 300px;
    padding: 15px 0 15px 0;
    border-radius: 100px;
    margin: 5px 0 5px 0 ;
    transition-duration: 0.3s;
    transition-property: color, backgroud-color ;
    -webkit-box-shadow: -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, -18px -30px 10px -25px rgba(0,0,0,0.14); 
box-shadow: -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, -18px -30px 10px -25px rgba(0,0,0,0.14);
    cursor: pointer;
}
.button:hover{
    color: white;
    background-color: black;
}

h1{
    font-family: 'Dongle', monospace;
    margin: 1px 0 3px 0 ;
    font-size:60px;
    font-weight: bold;
}
p1{
    font-family: 'Dongle', monospace;
    margin: 2px 0 2px 0 ;
    font-size:30px;
    color: rgb(255, 254, 176);
    
}
p{
    font-family: 'Dongle', monospace;
    margin: 3px 0 8px 0 ;
    font-style: italic;
    font-size:24px;
    color: rgb(107, 241, 208);
}